* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  background: url(img/1.jpg) no-repeat;
  background-size: cover;
}

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

h1 {
  font-family: "Open Sans", sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 15px;
}

h2 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-weight: 100;
}

h3 {
  font-size: 70px;
  line-height: 100px;
  font-family: "Dosis", sans-serif;
  font-weight: 700;
  color: transparent;
  background: none;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

h4 {
  color: white;
  font-size: 20px;
}

p {
  font-family: "Open Sans", sans-serif;
  color: white;
}

.info {
  margin-left: auto;
}

.info ul {
  display: flex;
  gap: 30px;
}

.info ul li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a :hover {
  color: #ff6000;
  transition: 1s;
}

/* anime */

span {
  font: 700 2em/1 "Oswald", sans-serif;
  background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
}

/* Animate Background Image */

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.info a::after {
  background-color: #ff6000;
  display: block;
  content: "";
  height: 3px;
  width: 0%;
  -webkit-transition: width 0.3s ease-in-out;
  -moz--transition: width 0.3s ease-in-out;
  transition: width 0.3s ease-in-out;
}

.info a:hover:after,
.info a:focus:after {
  width: 100%;
}

section {
  margin: 240px 0 110px;
  flex-grow: 1;
}

.buttons {
  display: flex;
}

.buttons a {
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  margin-right: 30px;
  margin-top: 30px;
  border-color: #ff6000;
}

.info ul li:first-child {
  color: #ff6000;
  border-bottom: solid 3px #ff6000;
}

/* footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: #000000ab;
}

hr {
  color: #ff6000 solid 2px;
}

.container img {
  width: 30px;
}

footer ol li {
  list-style-type: none;
}

.social {
  display: flex;
  justify-content: space-around;
}

footer ol :nth-child(2) :hover {
  color: #ff6000;
  cursor: pointer;
}

footer span {
  font-size: 26px;
}

.social img:hover {
  transform: scale(0.5);
}
